html
    head
        link(rel="stylesheet", href="/css-login/style.css")

    body
        .box
            h2 Login
            form
                .inputBox
                    input(type='text', name='', required='')
                    label Username
                .inputBox
                    input(type='password', name='', required='')
                    label Password
                input(type='submit', name='', value='Submit')
