html
    head
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.1/css/all.css')
        link(rel="stylesheet", href="/css-register/style.css")

    body
        form.form-horizontal(role='form', method='POST', action='/register')
            .row
                .col-md-3
                .col-md-6
                    h2 Register New User
                    hr
            .row
                .col-md-3.field-label-responsive
                    label(for='name') Name
                .col-md-6
                    .form-group
                        .input-group.mb-2.mr-sm-2.mb-sm-0
                            .input-group-addon(style='width: 2.6rem')
                                i.fa.fa-user
                            input#name.form-control(type='text', name='name', placeholder='John Doe', required='', autofocus='')
                .col-md-3
                    .form-control-feedback
                        span.text-danger.align-middle
                    //- // Put name validation error messages here
            .row
                .col-md-3.field-label-responsive
                    label(for='email') E-Mail Address
                .col-md-6
                    .form-group
                        .input-group.mb-2.mr-sm-2.mb-sm-0
                            .input-group-addon(style='width: 2.6rem')
                                i.fa.fa-at
                            input#email.form-control(type='text', name='email', placeholder='you@example.com', required='', autofocus='')
                .col-md-3
                    .form-control-feedback
                        span.text-danger.align-middle
                    //- // Put e-mail validation error messages here
            .row
                .col-md-3.field-label-responsive
                    label(for='password') Password
                .col-md-6
                    .form-group.has-danger
                        .input-group.mb-2.mr-sm-2.mb-sm-0
                            .input-group-addon(style='width: 2.6rem')
                                i.fa.fa-key
                            input#password.form-control(type='password', name='password', placeholder='Password', required='')
                .col-md-3
                    .form-control-feedback
                        span.text-danger.align-middle
                            i.fa.fa-close  Example Error Message
            .row
                .col-md-3.field-label-responsive
                    label(for='password') Confirm Password
                .col-md-6
                    .form-group
                        .input-group.mb-2.mr-sm-2.mb-sm-0
                            .input-group-addon(style='width: 2.6rem')
                                i.fa.fa-repeat
                            input#password-confirm.form-control(type='password', name='password-confirmation', placeholder='Password', required='')
            .row
                .col-md-3
                .col-md-6
                    button.btn.btn-success(type='submit')
                        i.fa.fa-user-plus  Register